.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.background{
  background-color: #EAC9ED;
  min-height: 100vh;
  min-width: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.links {
  text-align: center;
}

.form {
  margin-top: 100px;
  text-align: center;
}

.Title {
  text-align: center;
}

.card-50{
  width: 50vh;
  height: 50vh;
  padding-top: 30px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: center;
  border-radius: 50px;
}

.logo{
  vertical-align: center
}

.globe{
  background-size: cover;
  height: auto;
  width: 50%;
  margin: auto;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
  display: flex;
}

.form {
  position: center;
  text-align: center; 
}

.images {
  border-radius: 50pc;
  justify-content: center;
  padding: 10px;
}

.image {
  border-radius: 50pc;
  justify-content: center;
  border: solid;
  border-color: white;
}

.imageboard {
  flex-direction: wrap;
  justify-content: center;
  align-content: space-between;
}
